* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #836539;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: -25px;
    width: 80px;
    animation: pipe-animation 4s infinite linear;
}

.pipe2 {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe2-animation 4s infinite linear;
}

.jump {
    animation: jump 600ms ease-out;
}

.cloud1 {
    position: absolute;
    height: 80px;
    top: 30px;
    animation: cloud1-animation 20s infinite linear;
}

.cloud2 {
    position: absolute;
    height: 80px;
    top: 190px;
    animation: cloud2-animation 25s infinite linear;
}

.cloud3 {
    position: absolute;
    height: 80px;
    top: 80px;
    animation: cloud3-animation 30s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

@keyframes pipe-animation {
    0% {
        right: -80px;
    }

    50% {
        right: 100%;
    }

    100% {
        right: 100%;
    }
}

@keyframes pipe2-animation {
    0% {
        right: -80px;
    }

    50% {
        right: -80px;
    }

    100% {
        right: 100%;
    }
}

@keyframes jump {
    
    0% {
        bottom: 0;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes cloud1-animation {
    from {
        right: -150px;
    }

    to {
        right: 100%;
    }
}

@keyframes cloud2-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes cloud3-animation {
    from {
        right: -1050px;
    }

    to {
        right: 100%;
    }
}